attrs==21.2.0
bleach==1.5.0
cycler==0.10.0
enum34==1.1.10
importlib-metadata==2.1.1
iniconfig==1.1.1
joblib==0.14.1
kiwisolver==1.1.0
Markdown==3.2.2
matplotlib==3.0.3
numpy==1.15.1
packaging==20.9
pathlib2==2.3.5
pluggy==0.13.1
protobuf==3.17.3
py==1.10.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
scikit-learn==0.22.2
scipy==1.4.1
six==1.16.0
sklearn==0.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
toml==0.10.2
Werkzeug==1.0.1
zipp==1.2.0
